html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(./images/foxbg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.header-content {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: -2px 0px 10px 5px #080808;
}

.nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    background-color: rgba(26, 26, 26, 0.9);
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s;
}

.hamburguer {
    display: none;
    background: transparent;
    border: 0;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
}

section {
    padding: 100px 0;
}

.logos-container {
    padding: 2px;
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
}

.fox-logo {
    display: flex;
    content: url(./images/foxframe1.png);
    width: 50%;
    height: auto;
    padding-left: 20px;
}

.fox-logo:hover {
    content: url(./images/foxframe2.png);
}

.enlaces {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.enlaces a {
    text-decoration: none;
    font-size: 1em;
    font-variant-caps: all-petite-caps;
    color: white;
}

.first-title, .second-title, .banner-section, .Banner-buttonLink {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px #333;
}

.first-title {
    font-size: 1.8em;
    font-family: "Droid Serif", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
}

.second-title {
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.section-heading, .s1, .s2, #portfolio h2, #contact h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
#about, #portfolio{
    background-color: whitesmoke;
    box-shadow: inset 0px 2px 6px 2px #080808;
}

.about-me {
    text-align: center;
}

.about-me img {
    border: 5px solid #fab829;
}

.about-me h4 {
    margin-top: 25px;
    font-weight: 700;
    text-transform: none;
}

.about-me p, #about-p, #portfolio p, #contact p, footer div p {
    color: #777777;
}

.list-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.list-inline a {
    color: black;
    margin-right: 10px;
}

.social-buttons a:hover, .enlaces a:hover, #portfolio a:hover, .contact-1:hover, .contact-2:hover, .contact-3:hover, .fa-chevron-down:hover, .download-cv:hover {
    text-decoration: none;
    color: #fab829;
    transition: 0.4s;
}

.download-cv {
    color: #020202;
}

#habilidades {
    background: linear-gradient(to right, #020202, #1d2124);
    padding: 0;
    box-shadow: -2px 0px 10px 5px #080808;
}

.skills {
    background-color: white;
}

.s-container {
    height: 30px;
}

.s1, .s2 {
    letter-spacing: 10px;
}

.s1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 175%;
    z-index: 99;
    color: red;
}

.s2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    top: 250%;
    z-index: 1;
    letter-spacing: 20px;
}

.cards {
    position: absolute;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: solid whitesmoke 1px;
    border-radius: 8px;
    box-shadow: 5px 1px 7px 5px rgba(0, 0, 0, 0.5);
    height: 170px;
    width: 10%;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
}

.c1 {
    background-image: url(./images/html-5.svg);
    left: 1%;
    top: -90%;
}

.c2 {
    background-image: url(./images/css-5.svg);
    left: 15%;
    top: -40%;
}

.c3 {
    background-image: url(./images/logo-javascript.svg);
    left: 30%;
    top: -75%;
}

.c4 {
    background-image: url(./images/react-1.svg);
    left: 45%;
    top: -110%;
}

.c5 {
    background-image: url(./images/node-js-logo.svg);
    left: 60%;
    top: -145%;
}

.c6 {
    background-image: url(./images/bootstrap-4.svg);
    left: 75%;
    top: -110%;
}

.c7 {
    background-image: url(./images/github-octocat.svg);
    left: 89%;
    top: -80%;
}

.project-1 {
    width: 90%;
    height: 50vh;
    background-image: url(./images/computertest.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

#portfolio a, #portfolio a p {
    color: #020202;
    text-align: center;
}

.middle-bar {
    border-right: solid black 1px;
    border-left: solid black 1px;
}

.text-project {
    padding-left: 35px !important;
}

#contact {
    background: linear-gradient(to right, #020202, #1d2124);
    color: whitesmoke;
}

#contact a {
    text-decoration: none;
    color: #777777;
}

.fa-envelope-open, .fa-home, .fa-whatsapp, .fa-paper-plane {
    font-size: 2em;
}

.contact-2 {
    border-left: solid #333 1px;
    border-right: solid #333 1px;
}

footer {
    background: linear-gradient(to right, #020202, #1d2124);
    height: 46px;
    width: 100%;
    border-top: solid #333 1px;
}

footer p {
    margin-bottom: 0;
}

@media screen and (max-width:640px) {
    .fox-logo {
        width: 60%;
    }
}

@media screen and (max-width:767px) {
    .section-heading, .s1, .s2, #portfolio h2, #contact h2 {
        font-size: 20px;
    }
    .logos-container {
        width: 20%;
    }
    .fox-logo {
        width: 100%;
    }
    .hamburguer {
        display: block;
        margin-right: 30px;
    }
    .enlaces {
        display: none;
    }
    .enlaces.show {
        position: absolute;
        display: flex;
        width: 50%;
        height: 60vh;
        top: 100%;
        right: 0%;
        flex-direction: column;
        background-color: rgba(26, 26, 26, 0.9);
    }
    .first-title {
        font-size: 1.5em;
    }
    .second-title {
        font-size: 2em;
    }
    .banner-button {
        font-size: 1em;
    }
    .cards {
        height: 50px;
    }
    .c1 {
        top: 0%;
    }
    .c2 {
        top: 20%;
    }
    .c3 {
        top: 30%;
    }
    .c4 {
        top: 10%;
    }
    .c5 {
        top: -10%;
    }
    .c6 {
        top: -5%;
    }
    .c7 {
        top: 5%;
    }
    .s1 {
        top: 90%;
    }
    .s2 {
        top: 125%;
        letter-spacing: 10px
    }
    .project-1 {
        height: 350px;
    }
    .middle-bar {
        display: none;
    }
    .text-project {
        padding-top: 30px;
        padding-left: 15px !important;
    }
    .contact-1, .contact-2, .contact-3 {
        padding-bottom: 30px;
    }
}

@media screen and (min-width:767px) {
    .cards {
        height: 120px;
    }
    .enlaces {
        width: 40%;
    }
    .middle-bar {
        display: none;
    }
    .text-project {
        padding-top: 30px;
        padding-left: 15px !important;
    }
    .c1 {
        top: -50%;
    }
    .c2 {
        top: -10%;
    }
    .c3 {
        top: -20%;
    }
    .c4 {
        top: -40%;
    }
    .c5 {
        top: -70%;
    }
    .c6 {
        top: -50%;
    }
    .c7 {
        top: -30%;
    }
}

@media screen and (min-width:960px) {
    .middle-bar {
        display: flex;
    }
    .cards {
        height: 170px;
    }
    .c1 {
        top: -90%;
    }
    .c2 {
        top: -40%;
    }
    .c3 {
        top: -75%;
    }
    .c4 {
        top: -110%;
    }
    .c5 {
        top: -145%;
    }
    .c6 {
        top: -110%;
    }
    .c7 {
        top: -80%;
    }
    .text-project {
        padding-left: 30px !important;
    }
}

@media screen and (width:1024px) {
    .project-1 {
        height: 240px;
    }
    .c1 {
        top: -50%;
    }
    .c2 {
        top: -20%;
    }
    .c3 {
        top: -40%;
    }
    .c4 {
        top: -70%;
    }
    .c5 {
        top: -100%;
    }
    .c6 {
        top: -80%;
    }
    .c7 {
        top: -50%;
    }
}